.chess_square {
  position: relative;
  width: 72px;
  height: 72px;
  background-color: var(--cyber-2);

  display: flex;
  align-items: center;
  justify-content: center;

  &.dark_square {
    background-color: var(--cyber-4);
  }
}

.square_id {
  position: absolute;
  top: 1px;
  left: 4px;
  font-size: 12px;
  color: var(--cyber-5)
}