:root {
  --cyber-1: #FF2A6D;
  --cyber-2: #D1F7FF;
  --cyber-3: #05D9E8;
  --cyber-4: #005678;
  --cyber-5: #01012B;
  --cyber-6: linear-gradient(180deg, rgba(0,86,120,1) 0%, rgba(1,1,43,1) 100%);
}
